@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
      @apply dark:bg-trueGray-900;
    }
  }

@layer components {
  .anchor-offset::before {
    content: "";
    display: block;
    height: 4rem; /* 导航栏高度 */
    margin-top: -4rem;
    visibility: hidden;
  }
}